@using BlazorDateRangePicker
@using A2B_App.Client.Services
@using A2B_App.Shared.Podio
@inject IToastService toastService
@inject Task<ClientSettings> _getSettings
@inject HttpClient Http

@if (display)
{
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Sync @title</p>
                <button class="delete" aria-label="close" @onclick="Close"></button>
            </header>
            <section class="modal-card-body">
                <div class="simple-form">

                    <div class="form-group col-6">
                        <label for="round1Range">Created Date Range</label>
                        
                    
                    </div>
                    

                    <div class="form-group col-6">
                        <label for="limit">Limit</label>
                        <input class="input" type="tel" placeholder="Limit" id="limit" >
                    </div>

                    <div class="form-group col-6">
                        <label for="offset">Offset</label>
                        <input class="input" type="tel" placeholder="Offset" id="offset">
                    </div>

                    
                </div>
            </section>
            @if (isProcess)
            {
                <section>
                    <HttpResComponent isSuccess="@isSuccess" response="@response"></HttpResComponent>
                </section>
            }

            <footer class="modal-card-foot">
                <button class="button is-success @(isLoading ? "is-loading" : string.Empty )" @onclick="@(() => { GetApiResponse2(); })"  disabled="@isLoading">Sync Podio Items</button>
                <button class="button" @onclick="Close">Close</button>
            </footer>
        </div>
    </div>

}




@code {

    [Parameter] public EventCallback<SyncDateRange> ReturnValue { get; set; }
    [Parameter] public string title { get; set; }
    [Parameter] public List<int> selectedParametersMethod { get; set; }
    [Parameter] public List<int> selectedReportsMethod { get; set; }
    [Parameter] public List<int> selectedCompletenessMethod { get; set; }
    [Parameter] public List<int> selectedAccuracyMethod { get; set; }

    private PodioSyncService podioSyncService;
    private ClientSettings settings;
    private HttpResponseMessage httpResponseMessage { get; set; }
    private SyncDateRange syncDate;
    private DateTimeOffset? startDate { get; set; } = DateTime.Today;
    private DateTimeOffset? endDate { get; set; } = DateTime.Today;
    private bool isSuccess { get; set; }
    private string response { get; set; }
    private bool isProcess { get; set; }
    private bool isLoading { get; set; }


    protected override void OnParametersSet()
    {
        //startDate = null;
        //endDate = null;

        this.StateHasChanged();
    }


    protected override void OnInitialized()
    {
        Http.Timeout = TimeSpan.FromMinutes(30);
        base.OnInitialized();
    }

    private async void Initialize()
    {
        settings = await _getSettings;
        podioSyncService = new PodioSyncService(settings);
        isProcess = false;
        isLoading = false;
        response = string.Empty;
    }

    private async void GetApiResponse2()
    {
        isLoading = true;
        isProcess = false;
        var res = await podioSyncService.SyncByDateAsync(syncDate, Http, title);

        HttpResponseMessage httpResponse = res.Item1;
        string retTitle = res.Item2;

        if (httpResponse.StatusCode == System.Net.HttpStatusCode.OK || httpResponse.StatusCode == System.Net.HttpStatusCode.NoContent)
        {
            //var jsonData = Newtonsoft.Json.JsonConvert.SerializeObject(httpResponse.Content.ReadAsStringAsync().Result, Newtonsoft.Json.Formatting.Indented);

            response = httpResponse.Content.ReadAsStringAsync().Result.Trim();
            isSuccess = true;
        }
        else
        {
            isSuccess = false;
        }
        isProcess = true;
        isLoading = false;
        this.StateHasChanged();
    }

    public void OnRangeSelect1(DateRange range)
    {
        syncDate.startDate = range.Start.Date;
        syncDate.endDate = range.End.Date;

        System.Diagnostics.Debug.WriteLine($"Start: {syncDate.startDate.Value.Date} - End: {syncDate.endDate.Value.Date}");
    }

    private bool display = false;

    public void Show()
    {
        
        this.display = true;
        Initialize();
        this.StateHasChanged();
    }

    public void Close()
    {
        this.display = false;
        isProcess = false;
        response = string.Empty;
        this.StateHasChanged();
    }

}
