
@inject HttpClient Http
<h3>RCM</h3>
<div class="border-top my-3"></div>

<div class="tabs">

    <ul>
        <li class="@(activeTabControl == 0 ? "is-active": string.Empty)">
            <a @onclick="@(() => { TabControl(0); })">
                <span class="icon is-small"><i class="oi oi-file" aria-hidden="true"></i></span>
                <span>New Control</span>
            </a>
        </li>
        <li class="@(activeTabControl == 1 ? "is-active": string.Empty)">
            <a @onclick="@(() => { TabControl(1); })">
                <span class="icon is-small"><i class="oi oi-pencil" aria-hidden="true"></i></span>
                <span>Update Control</span>
            </a>
        </li>
        <li class="@(activeTabControl == 2 ? "is-active": string.Empty)">
            <a @onclick="@(() => { TabControl(2); })">
                <span class="icon is-small"><i class="oi oi-data-transfer-download" aria-hidden="true"></i></span>
                <span>Download</span>
            </a>
        </li>
        <li class="@(activeTabControl == 3 ? "is-active": string.Empty)">
            <a @onclick="@(() => { TabControl(3); })">
                <span class="icon is-small"><i class="oi oi-cloud-upload" aria-hidden="true"></i></span>
                <span>Import</span>
            </a>
        </li>
        <li class="@(activeTabControl == 4 ? "is-active": string.Empty)">
            <a @onclick="@(() => { TabControl(4); })">
                <span class="icon is-small"><i class="oi oi-zoom-in" aria-hidden="true"></i></span>
                <span>View</span>
            </a>
        </li>
    </ul>

</div>

<div class="container is-fluid">

    @switch (activeTabControl)
    {
        case 0:
            <div><RcmControl startTimer="@startTimer1"></RcmControl></div>
            break;
        case 1:
            <div><RcmUpdateControl startTimer="@startTimer2"></RcmUpdateControl></div>
            break;
        case 2:
            <div><RcmDownload></RcmDownload></div>
            break;
        case 3:
            <div><RcmImport></RcmImport></div>
            break;
        case 4:
            <div><RcmView></RcmView></div>
            break;
        default:
            break;
    }


</div>



@code {

    public int activeTabControl { get; set; }
    private bool startTimer1 { get; set; }
    private bool startTimer2 { get; set; }
    //ElapsedTime refElapseTime;

    //on page initialization
    protected override Task OnInitializedAsync()
    {
        Http.Timeout = TimeSpan.FromMinutes(30);
        // set tab new control to true and the rest false
        startTimer1 = false;
        startTimer2 = false;
        activeTabControl = 0;
        TabControl(activeTabControl);
        return base.OnInitializedAsync();
    }

    //handles tab control
    private void TabControl(int activeControl)
    {
        switch (activeControl)
        {
            case 0:
                activeTabControl = 0;
                startTimer1 = true;
                startTimer2 = false;
                break;
            case 1:
                activeTabControl = 1;
                startTimer1 = false;
                startTimer2 = true;
                break;
            case 2:
                activeTabControl = 2;
                startTimer1 = false;
                startTimer2 = false;
                break;
            case 3:
                activeTabControl = 3;
                startTimer1 = false;
                startTimer2 = false;
                break;
            case 4:
                activeTabControl = 4;
                startTimer1 = false;
                startTimer2 = false;
                break;
            default:
                break;
        }
        this.StateHasChanged();
    }




}
